$font-family-sans-serif: "Open Sans", sans-serif;

$primary: #5265e1;
$secondary: #fa5959;

// $theme-colors: (
//   "primary": $primary,
//   "secondary": $secondary,
//   "success": $success,
//   "info": $info,
//   "warning": $warning,
//   "danger": $danger,
//   "light": $light,
//   "dark": $dark,
// );

.formRight {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  top: 30%;
  left: 30%;
}

.formLeft {
  position: absolute;
  z-index: -1;
  width: 3000%;
  height: 100%;
  top: 25%;
  right: 25%;
}

.card.img-size {
  width: 30%;
}

@media (min-width: 992px) {
  .card-adapt div:nth-child(1) div:nth-child(1) {
    margin-top: 2rem;
  }
  .card-adapt div:nth-child(2) div:nth-child(1) {
    margin-top: 5rem;
  }
  .card-adapt div:nth-child(3) div:nth-child(1) {
    margin-top: 8rem;
  }
}
.p-footer {
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 0.65rem;
}

.social-icon:hover {
  filter: invert(50%) sepia(47%) saturate(3472%) hue-rotate(325deg)
    brightness(100%) contrast(100%);
}

.navbar-nav .nav-item .nav-link {
  letter-spacing: 0.1rem;
  font-size: 0.65rem;
}

.nav-tabs .nav-item .nav-link.active {
  color: $dark;
  border-bottom: 0.25rem solid $secondary;
}

.nav-tabs .nav-item .nav-link {
  color: $gray-600;
  border: none;
}

.nav .nav-item .nav-link {
  letter-spacing: 0.1rem;
  font-size: 0.85rem;
}

//estats actius dels botons, links, tabs i avisos

.nav-link:hover,
.accordion-button:hover {
  color: $secondary;
}

.btn-primary:hover {
  color: $primary;
  background-color: $body-bg;
  border-color: $primary;
}

.btn-secondary:hover {
  color: $secondary;
  background-color: $body-bg;
  border-color: $secondary;
}

.btn-light:hover {
  color: $dark;
  background-color: $body-bg;
  border-color: $dark;
}

@import "../node_modules/bootstrap/scss/variables";

@import "../node_modules/bootstrap/scss/bootstrap";
