$font-family-sans-serif: "Open Sans", sans-serif;

$primary: #5265e1;
$secondary: #fa5959;

// $theme-colors: (
//   "primary": $primary,
//   "secondary": $secondary,
//   "success": $success,
//   "info": $info,
//   "warning": $warning,
//   "danger": $danger,
//   "light": $light,
//   "dark": $dark,
// );

.formRight {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  top: 30%;
  left: 30%;
}

.formLeft {
  position: absolute;
  z-index: -1;
  width: 3000%;
  height: 100%;
  top: 25%;
  right: 25%;
}

.card.img-size {
  width: 30%;
}

@media (min-width: 992px) {
  .card-adapt div:nth-child(1) div:nth-child(1) {
    margin-top: 2rem;
  }
  .card-adapt div:nth-child(2) div:nth-child(1) {
    margin-top: 5rem;
  }
  .card-adapt div:nth-child(3) div:nth-child(1) {
    margin-top: 8rem;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";
